.page-content-container {
    margin: 20px;
    padding: 40px;
    border: 2px solid grey;
    border-radius: 10px;
    animation: ripple 3s infinite;
    position: relative;
    overflow: hidden;
}

/*设为50%就结束是为了让动画的循环之间具有一小段间隔*/
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 220, 220, 1);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(220, 220, 220, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(220, 220, 220, 0);
    }
}

.flex-grow {
    flex-grow: 1; /*利用弹性盒子填充空余空间，形成左右布局*/
}